<h1>¡Hola! {{username}}</h1>

<h2>Hemos detectado un cambio de email</h2>

<p>¡De nuevo, es un placer contar con personas como tú, decididas a dar una nueva oportunidad a nuestras mascotas!</p>

<p>Tu antiguo email: {{oldEmail}}</p>
<p>Tu nuevo email: {{newEmail}}</p>

<p>Si tu no has realizado este cambio, porfavor, contacta con nosotros.</p>

<p>Contacto: <a href="mailto:ironhack.nahere@gmail.com">ironhack.nahere@gmail.com</a></p>
<p>¡Saludos!</p>

<p>Equipo Nahere</p>