<h1>¡Hola {{username}}!</h1>

<h2>Te damos la bienvenida a Nahere</h2>

<p>¡Es un placer contar con personas como tú, decididas a dar una nueva oportunidad a nuestras mascotas!</p>

<p>Tu usuario es: {{username}}</p>
<p>Tu contraseña es: {{password}}</p>

<p>Contacto: <a href="mailto:ironhack.nahere@gmail.com">ironhack.nahere@gmail.com</a></p>
<p>¡Saludos!</p>

<p>Equipo Nahere</p>