.textContainerComponent .textContainer {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  color: #906a44;
  height: 60%;
  justify-content: space-between;
}

.textContainerComponent .activeContainer {
  display: flex;
  align-items: center;
  margin-bottom: 65%;
}

.textContainerComponent .activeItem {
  display: flex;
  align-items: center;
}

.textContainerComponent .activeContainer img {
  padding-left: 10px;
}

.textContainerComponent .textContainer h1 {
  margin-bottom: 50px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainerComponent .textContainer {
    display: none;
  }
}